/gradle-icon-128x128.png
/gradle-icon-16x16.png
/gradle-icon-24x24.png
/gradle-icon-256x256.png
/gradle-icon-32x32.png
/gradle-icon-48x48.png
/gradle-icon-512x512.png
/gradle-icon-64x64.png
/gradle.icns
