/ant-antlr-1.9.3.jar
/antlr-2.7.7.jar
/bcpg-jdk15-1.46.jar
/bcprov-jdk15-1.46.jar
/bndlib-2.1.0.jar
/bsh-2.0b4.jar
/commons-cli-1.2.jar
/commons-codec-1.6.jar
/core-3.1.1.jar
/geronimo-annotation_1.0_spec-1.0.jar
/gradle-announce-2.0.jar
/gradle-antlr-2.0.jar
/gradle-build-comparison-2.0.jar
/gradle-build-init-2.0.jar
/gradle-code-quality-2.0.jar
/gradle-core-impl-2.0.jar
/gradle-cpp-2.0.jar
/gradle-diagnostics-2.0.jar
/gradle-ear-2.0.jar
/gradle-ide-2.0.jar
/gradle-ivy-2.0.jar
/gradle-jacoco-2.0.jar
/gradle-javascript-2.0.jar
/gradle-jetty-2.0.jar
/gradle-language-base-2.0.jar
/gradle-language-jvm-2.0.jar
/gradle-maven-2.0.jar
/gradle-osgi-2.0.jar
/gradle-plugin-use-2.0.jar
/gradle-plugins-2.0.jar
/gradle-publish-2.0.jar
/gradle-reporting-2.0.jar
/gradle-resources-http-2.0.jar
/gradle-scala-2.0.jar
/gradle-signing-2.0.jar
/gradle-sonar-2.0.jar
/gson-2.2.4.jar
/hamcrest-core-1.3.jar
/httpclient-4.2.2.jar
/httpcore-4.2.2.jar
/ivy-2.2.0.jar
/jarjar-aether-api-1.13.1.jar
/jarjar-aether-connector-wagon-1.13.1.jar
/jarjar-aether-impl-1.13.1.jar
/jarjar-aether-spi-1.13.1.jar
/jarjar-aether-util-1.13.1.jar
/jarjar-maven-aether-provider-3.0.4.jar
/jarjar-maven-artifact-3.0.4.jar
/jarjar-maven-compat-3.0.4.jar
/jarjar-maven-core-3.0.4.jar
/jarjar-maven-model-3.0.4.jar
/jarjar-maven-model-builder-3.0.4.jar
/jarjar-maven-plugin-api-3.0.4.jar
/jarjar-maven-repository-metadata-3.0.4.jar
/jarjar-maven-settings-3.0.4.jar
/jarjar-maven-settings-builder-3.0.4.jar
/jarjar-plexus-cipher-1.7.jar
/jarjar-plexus-classworlds-2.4.jar
/jarjar-plexus-component-annotations-1.5.5.jar
/jarjar-plexus-container-default-1.5.5.jar
/jarjar-plexus-interpolation-1.14.jar
/jarjar-plexus-sec-dispatcher-1.3.jar
/jarjar-plexus-utils-2.0.6.jar
/jarjar-wagon-http-2.4.jar
/jarjar-wagon-http-shared4-2.4.jar
/jarjar-wagon-provider-api-2.4.jar
/jatl-0.2.2.jar
/jcifs-1.3.17.jar
/jcommander-1.12.jar
/jetty-6.1.25.jar
/jetty-annotations-6.1.25.jar
/jetty-naming-6.1.25.jar
/jetty-plus-6.1.25.jar
/jetty-util-6.1.25.jar
/jsch-0.1.51.jar
/jsp-2.1-6.1.14.jar
/jsp-api-2.1-6.1.14.jar
/junit-4.11.jar
/maven-ant-tasks-2.1.3.jar
/nekohtml-1.9.14.jar
/plexus-component-annotations-1.5.2.jar
/pmaven-common-0.8-20100325.jar
/pmaven-groovy-0.8-20100325.jar
/rhino-1.7R3.jar
/servlet-api-2.5-20081211.jar
/simple-4.1.21.jar
/snakeyaml-1.6.jar
/sonar-batch-bootstrapper-2.9.jar
/sonar-runner-2.0.jar
/testng-6.3.1.jar
/xbean-reflect-3.4.jar
/xercesImpl-2.9.1.jar
/xml-apis-1.3.04.jar
